[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
pyyaml = ">=4.2b1"  # CVE-2017-18342
ratelimit = "*"
requests = "*"
wimpy = "*"
xlrd = "*"
zeep = "*"

[dev-packages]

[requires]
python_version = "3.6"
